<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yutu.mapper.mysql.TSysLandinglogMapper" >
  <resultMap id="BaseResultMap" type="com.yutu.entity.table.TSysLandinglog" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="login_userid" property="loginUserid" jdbcType="VARCHAR" />
    <result column="login_account" property="loginAccount" jdbcType="VARCHAR" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="login_sessionid" property="loginSessionid" jdbcType="VARCHAR" />
    <result column="login_date" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="login_type" property="loginType" jdbcType="VARCHAR" />
    <result column="login_result" property="loginResult" jdbcType="INTEGER" />
    <result column="login_appname" property="loginAppname" jdbcType="VARCHAR" />
    <result column="login_address" property="loginAddress" jdbcType="VARCHAR" />
  </resultMap>

  <!--开启业务代码-->
  <insert id="insetLoginLog" parameterType="com.yutu.entity.table.TSysLandinglog" >
    insert into t_sys_landinglog (uuid, login_userid, login_account,
      login_ip, login_sessionid, login_date,
      login_type, login_result, login_appname,
      login_address, login_remarks)
    values (#{uuid,jdbcType=VARCHAR}, #{loginUserid,jdbcType=VARCHAR}, #{loginAccount,jdbcType=VARCHAR},
      #{loginIp,jdbcType=VARCHAR}, #{loginSessionid,jdbcType=VARCHAR}, #{loginDate,jdbcType=TIMESTAMP},
      #{loginType,jdbcType=VARCHAR}, #{loginResult,jdbcType=INTEGER}, #{loginAppname,jdbcType=VARCHAR},
      #{loginAddress,jdbcType=VARCHAR}, #{loginRemarks,jdbcType=LONGVARCHAR})
  </insert>
</mapper>