<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper的接口全路径名 包名+类名 -->
<mapper namespace="com.yutu.mapper.sqlserver.ISqlServerMapper">

	<select id="getSqlServerTest" resultType="java.util.HashMap">
		SELECT [CODE],[NAME],[NAME_EN],[INDICATOR_ID],[PUBLISH_TIME],[PROVIDE_ORG] ,[DESCRIPTION] ,[DATA_SOURCE] ,[URL],[KEY_WORDS],[UPDATE_TIME] FROM [EnvBAR_DB].[dbo].[T_STOR_Resources] where [CODE] like CONCAT('%',#{userName},'%')
	</select>
</mapper>
