<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>宇图框架</title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<!-- 引入字体样式 -->
		<link rel="stylesheet" type="text/css" href="css/font.css"/>
        <!--引入滚动条样式-->
        <link rel="stylesheet" type="text/css" href="css/scroll.css"/>

    </head>
	<body>
		<!-- 首页 -->
		<div id="index">
			 <h1>我是框架首页</h1>

		</div>
	</body>

	<script src="js/jQuery/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</html>
